#footer{
    background-color: #211a1d;
    color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 800px) {
    #footer{
        height: 80px;
        h4{
            font-size: 1rem !important;
        }
        h6{
            font-size: 0.8rem !important;
        }
        p{
            font-size: 0.5rem !important;
        }
    }
}